.main {
    padding: 2em;

    h1 {
        font-size: 3em;
        margin: 1em 0;
    }

    button {
        background-color: rgb(26, 10, 100);
        border: none;
        box-shadow: none;
        color: white;
        margin: 2em 0;
        padding: 1em 3em;
    }
}